.profilePage
    position: relative
    z-index: 2
    margin-bottom: 2vw
    background-color: var(--blue-third)
    padding: 2vw 5vw
    min-height: 80vh
    &Header
        height: 3vw
        margin-bottom: 2vw
        h3
            font-size: 2vw
            line-height: 3vw
    &Main
        display: flex
        gap: 3vw
        &Ava
            width: 40%
            height: 50vh
            display: flex
            justify-content: center
            align-items: center
        &Info
            width: calc(60% - 3vw)  
            height: 50vw