.product
    position: relative
    width: 100%
    min-height: 80vh
    background-color: var(--blue-second)
    padding: 3vh 2vw
    z-index: 2
    color: white
    margin-bottom: 1vw
    font-family: Montserrat
    &Header
        width: 100%
        margin-bottom: 2vw
        display: flex
        gap: 2vw
        justify-content: space-between
        &Text
            width: 60vw
            overflow: hidden
            white-space: nowrap
            text-overflow: ellipsis
            h1
                display: inline
                font-size: 2vw
        &Types
            display: flex
    &Info
        display: flex
        gap: 5%
        &Img
            width: 40%
            display: flex
            flex-direction: column
            justify-content: center
            align-items: center
            img
                height: 20vw
                margin-bottom: 1vw
            &Other
                display: flex
                gap: 1vw
                width: 100%
                overflow: auto
                img
                    height: 5vw
                    width: 20%
        &Main
            display: flex
            flex-direction: column
            align-items: flex-end
            width: 59%
            &Fullname
                padding-left: 5vw
                font-size: 1.3vw
                line-height: 2vw
                margin-bottom: 1vw
            &Reviews
                width: 200px
                display: flex
                gap: 1vw
                justify-content: flex-end
                margin-bottom: 3vw
                &Stars
                    display: flex
                    gap: 5px
            &Price
                font-size: 2vw
                margin-bottom: 5vw
            &Add
                display: flex
                justify-content: space-around
                gap: 2vw
                &Buy
                    position: relative
                    padding: .5vw 2vw .5vw 1vw
                    font-size: .9vw
                    border-radius: .3vw
                    background-color: #fff
                    color: black
                    outline: none
                    border: none
                    font-family: Montserrat
                    text-transform: uppercase
                    &::after
                        content: ''
                        position: absolute
                        top: 50%
                        right: .7vw
                        transform: translateY(-50%)
                        background-image: url('../../Image/Cart.svg')
                        background-size: contain
                        background-repeat: no-repeat
                        height: 1vw
                        width: 1vw
                &Like
                    position: relative
                    padding: .5vw 2vw .5vw 1vw
                    font-size: .9vw
                    border-radius: .3vw
                    background-color: #fff
                    color: black
                    outline: none
                    border: none
                    font-family: Montserrat
                    text-transform: uppercase
                    &::after
                        content: ''
                        background-image: url('../../Image/heart.svg')
                        position: absolute
                        top: 50%
                        right: .7vw
                        transform: translateY(-50%)
                        background-size: contain
                        background-repeat: no-repeat
                        height: 1vw
                        width: 1vw
    &Characteristic
        display: flex
        height: 80vh
        margin-bottom: 2vw
        &Video
            display: flex
            justify-content: center
            align-items: center
            width: 80%
            height: 100%
        &Reviews
            width: 20%
            height: 100%
