.product
    position: relative
    width: 100%
    min-height: 80vh
    background-color: var(--blue-second)
    padding: 3vh 2vw
    z-index: 2
    color: white
    margin-bottom: 1vw
    font-family: Montserrat
    &Header
        font-size: 2vw
        margin-bottom: 1vw