.product
    position: relative
    width: 100%
    min-height: 80vh
    background-color: var(--blue-third)
    padding: 3vh 2vw
    z-index: 2
    color: white
    margin-bottom: 1vw
    font-family: Montserrat
    &Header
        width: 100%
        margin-bottom: 2vw
        display: flex
        gap: 2vw
        justify-content: space-between
        &Text
            width: 60vw
            overflow: hidden
            white-space: nowrap
            text-overflow: ellipsis
            h1
                display: inline
                font-size: 2vw
        &Types
            display: flex
    &Info
        display: flex
        gap: 5%
        &Img
            width: 40%
            display: flex
            flex-direction: column
            justify-content: center
            align-items: center
            img
                height: 20vw
                margin-bottom: 1vw
            &Other
                display: flex
                gap: 1vw
                width: 100%
                overflow: auto
                img
                    height: 5vw
                    width: 20%
        &Main
            display: flex
            flex-direction: column
            align-items: flex-end
            width: 59%
            &Fullname
                padding-left: 5vw
                font-size: 1.3vw
                line-height: 2vw
                margin-bottom: 1vw
                text-align: right
            &Reviews
                width: 200px
                display: flex
                gap: 1vw
                justify-content: flex-end
                margin-bottom: 3vw
                &Stars
                    display: flex
                    gap: 5px
            &Country
                margin-bottom: 1.5vw
            &Price
                margin-bottom: 5vw
                color: #fff
            &Add
                display: flex
                justify-content: space-around
                gap: 2vw
                &Buy
                    position: relative
                    padding: .5vw 2vw .5vw 1vw
                    font-size: .9vw
                    border-radius: .3vw
                    background-color: #fff
                    color: black
                    outline: none
                    border: none
                    font-family: Montserrat
                    text-transform: uppercase
                    transition: 1s
                    &::after
                        content: ''
                        position: absolute
                        top: 50%
                        right: .7vw
                        transform: translateY(-50%)
                        background-image: url('../../Image/Cart.svg')
                        background-size: contain
                        background-repeat: no-repeat
                        height: 1vw
                        width: 1vw
                &BuyActive
                    position: relative
                    padding: .5vw 2vw .5vw 1vw
                    font-size: .9vw
                    border-radius: .3vw
                    background-color: rgb(255, 255, 255)
                    box-shadow: 0px 0px 5px 4px rgba(242, 255, 54, 0.5) inset
                    color: black
                    outline: none
                    border: none
                    font-family: Montserrat
                    text-transform: uppercase
                    transition: 1s
                    &::after
                        content: ''
                        position: absolute
                        top: 50%
                        right: .7vw
                        transform: translateY(-50%)
                        background-image: url('../../Image/Cart.svg')
                        background-size: contain
                        background-repeat: no-repeat
                        height: 1vw
                        width: 1vw
                &Like
                    position: relative
                    padding: .5vw 2vw .5vw 1vw
                    font-size: .9vw
                    border-radius: .3vw
                    background-color: #fff
                    color: black
                    outline: none
                    border: none
                    font-family: Montserrat
                    text-transform: uppercase
                    transition: 1s
                    &::after
                        content: ''
                        background-image: url('../../Image/heart.svg')
                        position: absolute
                        top: 50%
                        right: .7vw
                        transform: translateY(-50%)
                        background-size: contain
                        background-repeat: no-repeat
                        height: 1vw
                        width: 1vw
                &LikeActive
                    position: relative
                    padding: .5vw 2vw .5vw 1vw
                    font-size: .9vw
                    border-radius: .3vw
                    background-color: rgb(255, 255, 255)
                    box-shadow: 0px 0px 5px 4px rgba(255, 64, 54, 0.5) inset
                    color: black
                    outline: none
                    border: none
                    font-family: Montserrat
                    text-transform: uppercase
                    transition: 1s
                    &::after
                        content: ''
                        background-image: url('../../Image/heart.svg')
                        position: absolute
                        top: 50%
                        right: .7vw
                        transform: translateY(-50%)
                        background-size: contain
                        background-repeat: no-repeat
                        height: 1vw
                        width: 1vw
    &Characteristic
        display: flex
        height: 80vh
        margin-bottom: 2vw
        &Video
            display: flex
            flex-direction: column
            width: 80%
            height: 100%
            &Header
                font-family: Montserrat
                font-size: 2vw
                line-height: 3.5vw
            &Player
                height: 65vw
                display: flex
                justify-content: center
                align-items: center
        &Reviews
            width: 20%
            height: 100%
            display: flex
            flex-direction: column
            &Header
                font-family: Montserrat
                font-size: 2w
                line-height: 3.5vw
            &List
                width: 100%
                height: 100%
                display: flex
                flex-direction: column
                gap: 1vw
                overflow-y: auto
                &Item
                    font-family: Montserrat
                    display: flex
                    flex-direction: column
                    gap: 1vw
                    padding: .5vw
                    background-color: rgba(86, 0, 147, .8)
                    border-radius: 5px
    &Similars
        height: 550px
        display: grid
        grid-auto-columns: 1fr
        grid-auto-flow: column
        overflow-x: auto
        overflow-y: hidden
        &::-webkit-scrollbar
            width: 10px
        &::-webkit-scrollbar-track
            width: 10px
        &::-webkit-scrollbar-thumb
            width: 8px
            background-color: rgb(215, 215, 215)
            border-radius: 5px

@media ( max-width: 1050px )
    .product
        &Header
            &Text
                h1
                    display: inline
                    font-size: 16px
        &Info
            margin-bottom: 10px
            &Main
                &Fullname
                    font-size: 14px
                    line-height: 18px
                &Country
                    font-size: 14px
                &Price
                    margin-bottom: 30px
                &Add
                    gap: 2vw
                    &Buy
                        width: 130px
                        height: 30px
                        padding: 0 30px 0 0
                        font-size: 13px
                        line-height: 30px
                        border-radius: .4vw
                        &::after
                            right: 1vw
                            height: 2.5vw
                            width: 2.5vw
                    &BuyActive
                        width: 130px
                        height: 30px
                        padding: 0 30px 0 0
                        font-size: 13px
                        line-height: 30px
                        box-shadow: 0px 0px 3px 3px rgba(242, 255, 54, 0.5) inset
                        &::after
                            right: 1vw
                            height: 2.5vw
                            width: 2.5vw
                    &Like
                        width: 130px
                        height: 30px
                        padding: 0 30px 0 0
                        font-size: 13px
                        line-height: 30px
                        border-radius: .4vw
                        &::after
                            right: 1.5vw
                            height: 2.5vw
                            width: 2.5vw
                    &LikeActive
                        width: 130px
                        height: 30px
                        padding: 0 30px 0 0
                        font-size: 13px
                        line-height: 30px
                        border-radius: .4vw
                        box-shadow: 0px 0px 3px 3px rgba(255, 64, 54, 0.5) inset
                        &::after
                            right: 1vw
                            height: 2.5vw
                            width: 2.5vw
        &Characteristic
            display: block
            min-height: 30vh
            height: unset
            &Video
                width: 100%
                &Header
                    font-size: 2.5vw
                &Player
                    width: 100%
                    height: 50vw
            &Reviews
                width: 100%
                height: 30vh
                &Header
                    font-size: 1.8vh
                    line-height: 3.5vh
                &List
                    width: 100%
                    height: 26.5vh
                    overflow-y: scroll
                    &Item
                        font-family: Montserrat
                        display: flex
                        flex-direction: column
                        gap: 1vw
                        padding: .5vw
                        background-color: rgba(86, 0, 147, .8)
                        border-radius: 5px

@media ( max-width: 800px )
    .product
        &Info
            &Main
                &Add
                    &Buy
                        width: 15vw
                        height: 4vw
                        padding: 0 25px 0 0
                        font-size: 1.5vw
                        line-height: 4vw
                        &::after
                            right: 1.5vw
                            height: 2vw
                            width: 2vw
                    &BuyActive
                        width: 15vw
                        height: 4vw
                        padding: 0 25px 0 0
                        font-size: 1.5vw
                        line-height: 4vw
                        &::after
                            right: 1.5vw
                            height: 2vw
                            width: 2vw
                    &Like
                        width: 15vw
                        height: 4vw
                        padding: 0 25px 0 0
                        font-size: 1.3vw
                        line-height: 4vw
                        &::after
                            right: 1.5vw
                            height: 2vw
                            width: 2vw
                    &LikeActive
                        width: 15vw
                        height: 4vw
                        padding: 0 25px 0 0
                        font-size: 1.3vw
                        line-height: 4vw
                        &::after
                            right: 1.5vw
                            height: 2vw
                            width: 2vw
    
@media ( max-width: 520px )
    .product
        padding: 3vh 20px 3vh 20px
        &Similars
            height: 375px
        &Info
            &Main
                &Add
                    &Buy
                        width: 15vw
                        height: 4vw
                        padding: 0 20px 0 0
                        font-size: 1.5vw
                        line-height: 4vw
                    &BuyActive
                        width: 15vw
                        height: 4vw
                        padding: 0 20px 0 0
                        font-size: 1.5vw
                        line-height: 4vw
                    &Like
                        width: 15vw
                        height: 4vw
                        padding: 0 20px 0 0
                        font-size: 1.3vw
                        line-height: 4vw
                    &LikeActive
                        width: 15vw
                        height: 4vw
                        padding: 0 20px 0 0
                        font-size: 1.3vw
                        line-height: 4vw