.hits
    max-height: 696px
    width: 100%
    margin-bottom: 40px
    &Header
        display: inline-block
        text-align: left
        position: relative
        font-family: Montserrat
        font-style: normal
        font-weight: bold
        font-size: 30px
        line-height: 36px
        color: #000000
        margin-bottom: 42px
        &::after
            content: ''
            position: absolute
            width: 100%
            height: 1px
            bottom: -5px
            left: 50%
            transform: translateX(-50%)
            background-color: var(--blue-second)
    &Menu
        max-width: 100%
        display: flex
        justify-content: flex-start
        column-gap: 10px
        height: 36px
        margin-bottom: 30px
        .tag
            white-space: pre
            height: 100%
            padding: 0 16px
            background-color: #fff
            display: flex
            align-items: center
            font-family: Montserrat
            font-style: normal
            font-weight: 500
            font-size: 14px
            line-height: 24px
            display: flex
            align-items: center
            color: var(--blue-third)
            border-radius: 4px
            cursor: pointer
            &:hover
                background-color: #e3e3e3
            &Active
                white-space: pre
                height: 100%
                padding: 0 16px
                display: flex
                align-items: center
                font-family: Montserrat
                font-style: normal
                font-weight: 500
                font-size: 14px
                line-height: 24px
                display: flex
                align-items: center
                border-radius: 4px
                color: #fff
                background-color: var(--green-blue)
                cursor: default
    &Slider
        height: 540px
        width: 100%
        position: relative
        .hitsWrapper
            width: 100%
            height: 100%
            position: relative
            display: flex
            overflow: hidden
            &Slider
                position: absolute
                transition: .5s
                height: 100%
                top: 0
                left: 0
                display: flex
        .arrowLeft
            position: absolute
            top: 50%
            left: -20px
            height: 60px
            width: 60px
            background-color: rgba(213, 224, 229, 1)
            opacity: 0.5
            border-radius: 5px
            transform: translateY(-50%)
            cursor: pointer
            &::before
                content: ''
                position: absolute
                top: 50%
                right: 50%
                width: 18px
                height: 3px
                transform: rotate(135deg) translate(-50%, -50%)
                transform-origin: top
                background-color: #000
            &::after
                content: ''
                position: absolute
                top: 50%
                right: 50%
                width: 18px
                height: 3px
                transform: rotate(-135deg) translate(-50%, -50%)
                transform-origin: top
                background-color: #000
            &:hover
                background-color: rgba(200, 200, 190, 1)
        .arrowRight
            position: absolute
            top: 50%
            right: -20px
            height: 60px
            width: 60px
            background-color: rgba(213, 224, 229, 1)
            opacity: 0.5
            border-radius: 5px
            transform: translateY(-50%)
            cursor: pointer
            &::before
                content: ''
                position: absolute
                top: 50%
                left: 50%
                width: 18px
                height: 3px
                transform: rotate(45deg) translate(-50%, -50%)
                transform-origin: center
                background-color: #000
            &::after
                content: ''
                position: absolute
                top: 50%
                left: 50%
                width: 18px
                height: 3px
                transform: rotate(-45deg) translate(-50%, -50%)
                transform-origin: top
                background-color: #000
            &:hover
                background-color: rgba(200, 200, 190, 1)

@media (max-width: 1600px)
    .hits
        &Slider
            display: flex
            justify-content: center
            .hitsWrapper
                width: 1232px

@media (max-width: 1350px)
    .hits
        &Menu
            width: 100%
            overflow-x: scroll
            overflow-y: hidden
            column-gap: 10px
            height: 41px
            padding-bottom: 5px
            margin-bottom: 30px
            .tag
                width: 100%
                background-color: #fff
                font-weight: 500
                font-size: 14px
                line-height: 24px
                &Active
                    width: 100%
                    height: 100%
                    padding: 0 16px
                    font-weight: 500
                    font-size: 14px
                    line-height: 24px
        &Slider
            .hitsWrapper
                width: 924px
            .arrowLeft
                z-index: 8                    
                left: 0
            .arrowRight
                right: 0
                z-index: 8    

@media (max-width: 1050px)
    .hits
        &Slider
            .hitsWrapper
                width: 617px