.hits
    max-height: 696px
    margin-bottom: 40px
    &Header
        display: inline-block
        text-align: left
        position: relative
        font-family: Montserrat
        font-style: normal
        font-weight: bold
        font-size: 30px
        line-height: 36px
        color: #000000
        margin-bottom: 42px
        &::after
            content: ''
            position: absolute
            width: 100%
            height: 1px
            bottom: -5px
            left: 50%
            transform: translateX(-50%)
            background-color: var(--blue-second)
    &Menu
        max-width: 100%
        display: flex
        justify-content: flex-start
        column-gap: 10px
        height: 36px
        margin-bottom: 30px
        .tag
            height: 100%
            padding: 0 16px
            background-color: #fff
            display: flex
            align-items: center
            font-family: Montserrat
            font-style: normal
            font-weight: 500
            font-size: 14px
            line-height: 24px
            display: flex
            align-items: center
            color: var(--blue-third)
            border-radius: 4px
            cursor: default
            &:hover
                background-color: #e3e3e3
            &Active
                height: 100%
                padding: 0 16px
                display: flex
                align-items: center
                font-family: Montserrat
                font-style: normal
                font-weight: 500
                font-size: 14px
                line-height: 24px
                display: flex
                align-items: center
                border-radius: 4px
                color: #fff
                background-color: var(--green-blue)
                cursor: default
    &Wrapper
        width: 100%
        height: 540px
        display: flex
        .items
            background-color: #fff
            border-left: 1px solid rgba(232, 233, 233, 1)
            width: 100%
            padding: 10px 10px 0 10px
            &:first-child
                border: none
            &Img
                position: relative
                width: 100%
                height: 288px
                margin-bottom: 20px
                img
                    height: 288px
                    width: 288px
                &Tags
                    display: flex
                    position: absolute
                    top: 10px
                    left: 10px
                    .hot
                        background-color: var(--yellow)
                        width: 49px
                        height: 24px
                        display: flex
                        justify-content: center
                        align-items: center
                        font-family: Montserrat
                        font-style: normal
                        font-weight: 500
                        font-size: 12px
                        line-height: 18px
                        letter-spacing: 0.15em
                        color: #000000
                        text-transform: uppercase
                    .tagTip
                        width: 73px
                        height: 24px
                        display: flex
                        justify-content: center
                        align-items: center
                        font-family: Montserrat
                        font-style: normal
                        font-weight: 500
                        font-size: 12px
                        line-height: 18px
                        letter-spacing: 0.15em
                        color: #FFFFFF
                        background-color: var(--red)
                        text-transform: uppercase
            &Stars
                display: flex
                width: 128px
                height: 14px
                margin-left: 10px
                margin-bottom: 16px
                .starsWrapper
                    position: relative
                    display: flex
                    align-items: center
                    column-gap: 5px
                    height: 100%
                    margin-right: 8px
                    .stars
                        width: 13px
                        height: 14px
                        position: relative
                        &Off
                            height: 100%
                            width: 100%
                            display: block
                            color: gray
                            position: relative
                            &:before
                                position: absolute
                                top: 0
                                left: 0
                                content: url('../../Image/hits/sterGrey.svg')
                                width: 100%
                                height: 100%
                        &Full
                            color: var(--yellow)
                            height: 100%
                            width: 100%
                            position: relative
                            &::before
                                position: absolute
                                top: 0
                                left: 0
                                content: url('../../Image/hits/star.svg')
                                width: 100%
                                height: 100%
                        &Half
                            height: 100%
                            width: 100%
                            position: relative
                            &:after
                                position: absolute
                                top: 0
                                left: 0
                                content: url('../../Image/hits/star.svg')
                                width: 53%
                                height: 105%
                                overflow: hidden
                            &:before
                                position: absolute
                                top: 0
                                left: 0
                                content: url('../../Image/hits/sterGrey.svg')
                                width: 100%
                                height: 100%
                .message
                    height: 100%
                    display: flex
                    column-gap: 5px
                    align-items: center
                    img
                        height: 13px
                    &Count
                        font-family: Montserrat
                        font-style: normal
                        font-weight: 500
                        font-size: 12px
                        line-height: 14px
                        color: #000000
            &Description
                width: 100%
                height: 60px
                padding: 0 10px
                font-family: Montserrat
                font-style: normal
                font-weight: 500
                font-size: 14px
                line-height: 20px
                color: #000000
                margin-bottom: 15px
            &Country
                padding: 0 10px
                font-family: Montserrat
                font-style: normal
                font-weight: 500
                font-size: 14px
                line-height: 24px
                color: #000000
                margin-bottom: 13px
            &Buy
                display: flex
                padding: 0 10px
                justify-content: space-between
                .price
                    position: relative
                    display: flex
                    align-items: center
                    justify-content: center
                    font-family: Montserrat
                    font-style: normal
                    font-weight: bold
                    font-size: 24px
                    line-height: 30px
                    color: #000000
                    &::after
                        content: attr(data-diuscount)
                        position: absolute
                        top: 34px
                        left: 0
                        font-family: Montserrat
                        font-style: normal
                        font-weight: bold
                        font-size: 18px
                        line-height: 24px
                        text-decoration-line: line-through
                        color: var(--red)
                .buy
                    width: 116px
                    height: 36px
                    border: 1px solid #2B7BC6
                    border-radius: 4px
                    display: flex
                    justify-content: center
                    align-items: center
                    font-family: Montserrat
                    font-style: normal
                    font-weight: bold
                    font-size: 12px
                    line-height: 24px
                    letter-spacing: 0.15em
                    color: var(--blue-third)
