.articles
	position: relative
	width: 100%
	min-height: 100vh
	background-color: var(--blue-third)
	padding: 2vh 2vw
	z-index: 3
	color: white
	margin-bottom: 2vh
	font-family: Montserrat
	&Header
		font-size: 4vh
		margin-bottom: 2vh
	&Wrapper
		width: 100%
		&Options
			width: 100%
			height: 40px
			padding-right: 10%
			display: flex
			justify-content: flex-end
			margin-bottom: 30px
			&Template
				display: flex
				align-items: center
				width: 80px
				height: 100%
				background-color: #ec03d9
				border-radius: 8px
				padding: 1px
				&Row
					display: flex
					flex-direction: column
					justify-content: space-between
					align-items: center
					width: 50%
					height: 100%
					background-color: #a8a8a8
					border-radius: 8px 0 0 8px
					padding: 12px 8px 10px 12px
					&Active
						display: flex
						flex-direction: column
						justify-content: space-between
						align-items: center
						width: 50%
						height: 100%
						background-color: #03c50c
						border-radius: 8px 0 0 8px
						padding: 12px 8px 10px 12px
					&Line
						width: 100%
						height: 2px
						border-radius: 4px
						background-color: #ffffff
				&Box
					display: flex
					justify-content: space-around
					align-items: center
					flex-wrap: wrap
					width: 50%
					height: 100%
					border-radius: 0 8px 8px 0
					gap: 2px
					background-color: #a8a8a8
					padding: 12px 12px 10px 8px
					transition: 1s
					&Active
						display: flex
						justify-content: space-around
						align-items: center
						flex-wrap: wrap
						width: 50%
						height: 100%
						border-radius: 0 8px 8px 0
						gap: 2px
						background-color: #03c50c
						padding: 12px 12px 10px 8px
						transition: 1s
						&Item
							width: 4px
							height: 4px
							background-color: #fff
					&Item
						width: 4px
						height: 4px
						background-color: #fff
		&Items
			&Box
				width: 100%
				height: auto
				padding: 0 5px
				display: flex
				flex-wrap: wrap
				gap: 5%
				transition: opacity 1s
			&Line
				width: 100%
				height: auto
				padding: 0 5px
				display: flex
				flex-direction: column
				gap: 5%
				transition: opacity 1s
			&Hide
				width: 100%
				height: 0
				opacity: 0
