.articles
	position: relative
	width: 100%
	min-height: 80vh
	background-color: var(--blue-third)
	padding: 2vh 2vw
	z-index: 3
	color: white
	margin-bottom: 2vh
	font-family: Montserrat
	&Header
		font-size: 3vh
		margin-bottom: 1vh
	&Wrapper
		width: 100%
		

