.contacts
    position: relative
    width: 100%
    min-height: 100vh
    background-color: var(--blue-second)
    padding: 2vh 2vw
    z-index: 3
    color: white
    margin-bottom: 2vh
    font-family: Montserrat
    p
        font-size: 18px
    &Header
        font-size: 4vh
        margin-bottom: 2vh
        z-index: 2
    &Phone
        background-color: var(--green-blue)
        border-radius: 8px
        margin-bottom: 20px
        padding: 20px 20px
        display: flex
        p
            margin-right: 10px
        a
            font-style: normal
            font-weight: 500
            font-size: 21px
            line-height: 21px
            margin-right: 12px
            color: black
    &Or
        display: flex
        justify-content: center
        align-items: center
        margin-bottom: 25px
        span
            font-size: 26px
            text-transform: uppercase
            color: white
    &Location
        background-color: var(--green-blue)
        border-radius: 8px
        margin-bottom: 20px
        padding: 25px 20px
        p
            margin-bottom: 15px
        &Menu
            margin-bottom: 20px
            width: 100%
            overflow: hidden
            &List
                display: flex
                gap: 15px
                height: 30px
                overflow-y: hidden
                overflow-x: auto
                &Region
                    display: flex
                    justify-content: center
                    align-items: center
                    height: 25px
                    cursor: pointer
                    padding: 4px 8px
                    background-color: white
                    border-radius: 4px
                    box-shadow: 3px 3px 3px 2px #949494
                    &:hover
                        background-color: rgb(65, 235, 138)
                    span
                        font-size: 16px
                        color: black
                    &Active
                        display: flex
                        justify-content: center
                        align-items: center
                        height: 25px
                        cursor: pointer
                        padding: 4px 8px
                        background-color: rgb(54, 199, 117)
                        border-radius: 4px
                        box-shadow: 3px 3px 3px 2px #949494
                        span
                            font-size: 16px
                            color: black
        &Map
            display: flex
            justify-content: center
            iframe
                width: 90%
                height: 450px
                border: 0
                border-radius: 4px
