.delivery
    position: relative
    width: 100%
    min-height: 100vh
    background-color: var(--blue-second)
    padding: 2vh 2vw
    z-index: 3
    color: white
    margin-bottom: 2vh
    font-family: Montserrat
    &Header
        font-size: 40px
        margin-bottom: 20px
    h4
        font-size: 24px
        margin-bottom: 14px
    h5
        font-size: 22px
        margin-bottom: 12px
    h6
        font-size: 20px
        margin-bottom: 10px
    span
        font-size: 18px