.providers
    &Info
        &Img
            position: relative
        &Header
            text-align: center
            font-size: 2.5vh
            margin-bottom: 1.5vh
        &Wrapper
            width: 100%
            display: flex
            justify-content: center
            gap: 30px
            flex-wrap: wrap
            margin-bottom: 40px

