.stonks
    position: relative
    padding: 2vh 5vw
    width: 100%
    min-height: 100vh
    background-color: var(--blue-third)
    z-index: 2
    font-family: Montserrat
    color: white
    margin-bottom: 20px
    &Wrapper
        display: flex
        justify-content: center
        margin-bottom: 15px
        &Slider
            position: relative
            width: 1300px
            height: 450px
    &List
        &Header
            font-size: 20px
            line-height: 24px
            margin-bottom: 10px
        &Wrapper
            display: grid
            width: 1100px
            position: relative
            grid-template-columns: repeat(5, calc(20% - 8px))
            grid-gap: 10px
            margin: 0 auto 120px
