.stonks
    position: relative
    padding: 2vh 5vw
    width: 100%
    min-height: 100vh
    background-color: var(--blue-third)
    z-index: 2
    font-family: Montserrat
    color: white
    margin-bottom: 20px
    &Wrapper
        display: flex
        justify-content: center
        margin-bottom: 15px
        &Slider
            position: relative
            width: 1300px
            height: 450px
    &List
        width: 100%
        &Header
            font-size: 20px
            line-height: 24px
            margin-bottom: 10px
        &Wrapper
            display: grid
            width: 100%
            position: relative
            grid-template-columns: repeat(5, calc(20% - 8px))
            grid-gap: 10px
            margin: 0 auto 120px

@media (max-width: 1050px)
    .stonks
        &List
            &Wrapper
                grid-template-columns: repeat(4, calc(25% - 8px))

@media (max-width: 800px)
    .stonks
        &List
            &Wrapper
                grid-gap: 5%
                grid-template-columns: repeat(3, 30%)

@media (max-width: 800px)
    .stonks
        &List
            &Wrapper
                column-gap: 4%
                row-gap: 2%
                grid-template-columns: repeat(2, 48%)