.basket
    position: relative
    width: 100%
    min-height: 50vh
    background-color: var(--blue-third)
    z-index: 2
    .content
        position: relative
        z-index: 2
        ul
            position: relative
            z-index: 2
            li
                position: relative
                z-index: 2