.basket
    position: relative
    padding: 2vh 5vw
    width: 100%
    min-height: 80vh
    background-color: var(--blue-third)
    z-index: 2
    font-family: Montserrat
    color: white
    margin-bottom: 20px
    &Header
        font-size: 30px
        margin-bottom: 2vh
        z-index: 2
    section
        position: relative
        z-index: 2
        min-height: 74vh
        .content
            width: 100%
            display: flex
            gap: 1%
            ul
                width: 80%
    &Empty
        height: 74vh
        width: 100%
        display: flex
        justify-content: center
        align-items: center
        span
            font-size: 3vh
    &Preview
        width: 19%
        min-height: 200px
        &Null
            height: 100%
            width: 100%