@mixin flexColumn($direction: column, $gap: 15px)
    display: flex
    flex-direction: $direction
    row-gap: $gap

.search
    position: relative
    height: auto
    z-index: 8
    background-color: var(--blue-third)
    padding: 15px 25px 45px
    margin-bottom: 15px
    font-family: Montserrat
    color: white
    &Header
        h2
            font-size: 4vh
            margin-bottom: 2vh
    &Block
        display: flex
        width: 20%
        &Options
            @include flexColumn(column, 15px)
            h3
                font-size: 18px
                line-height: 24px
            &Price, &Year
                &Range
                    @include flexColumn
                    &Text
                        font-size: 14px
                        line-height: 20px
                    &Input
                        margin: 20px 0
                &High
                    @include flexColumn(Row)
                    span
                        font-size: 14px
                        line-height: 20px
                &Low
                    @include flexColumn(Row)
                    span
                        font-size: 14px
                        line-height: 20px
