.likes
	position: relative
	width: 100%
	min-height: 80vh
	background-color: var(--blue-third)
	margin-bottom: 20px
	padding: 2vh 5vw
	z-index: 2
	color: white
	font-family: Montserrat
	&Header
		h1
			font-size: 30px
			margin-bottom: 2vh
			z-index: 2
	&Items
		display: flex
		gap: 1%
		z-index: 2
		width: 100%
		ul
			width: 80%
	&Preview
		width: 19%
		min-height: 200px
		&Null
			height: 100%
			width: 100%
		&Animation
			height: 100%
			width: 100%
			display: flex
			justify-content: center
			animation: slide-in 1s cubic-bezier(0.175, 0.885, 0.320, 1.275) both
			.preview
				width: 100%
				&Wrapper
					display: flex
					align-items: center
					justify-content: space-between
					margin-bottom: 2%
					&Stars
						display: flex
						gap: 5%
						width: 50%
					&Country
						width: 50%
						text-align: right
						letter-spacing: 1px
					&Price
						width: 50%
						text-align: left
						font-size: 20px
						line-height: 26px
					&Stock
						width: 50%
						text-align: right
						font-size: 18px
						line-height: 24px
						text-decoration-line: line-through
						color: var(--red)
				&Img
					width: 100%
					img
						height: 90%
						width: 90%
				&Description
					word-break: break-all
					margin-bottom: 3%
				&Price
					width: 100%
					text-align: left
					font-size: 20px
					line-height: 26px
	&Empty
		height: 74vh
		display: flex
		justify-content: center
		align-items: center
		span
			position: relative
			font-size: 3vh

@keyframes slide-in
	0%
		transform: translateY(-50px)
		opacity: 0
	100%
		transform: translateY(0)
		opacity: 1
