.modal
    position: fixed
    z-index: 10
    width: 100%
    height: 100%
    top: 0
    left: 0
    background-color: rgba(145, 145, 145, .5)
    visibility: visible
    animation: slide-in-fwd-center 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both
    display: flex
    justify-content: center
    align-items: center
    &Hidden
        position: fixed
        z-index: 10
        width: 100%
        height: 100%
        top: 0
        left: 0
        background-color: rgba(145, 145, 145, .5)
        visibility: hidden
    &Block
        display: flex
        flex-direction: column
        width: 50vw
        height: 75vh
        padding: 2vh 3vw
        background-color: rgb(255, 255, 255)
        overflow-x: hidden
        &Header
            display: flex
            align-items: center
            justify-content: space-between
            width: 100%
            height: 5vh
            margin-bottom: 1vh
            &Close
                position: relative
                width: 4vh
                height: 4vh
                &Top
                    position: absolute
                    height: 2px
                    width: 70%
                    top: 50%
                    left: 50%
                    transform-origin: top left
                    transform: rotate(45deg) translate(-50%, -50%)
                    background-color: var(--blue-third)
                    transition: background-color 0.7s
                &Bottom
                    position: absolute
                    height: 2px
                    width: 70%
                    top: 50%
                    left: 50%
                    transform-origin: top left
                    transform: rotate(-45deg) translate(-50%, -50%)
                    background-color: var(--blue-third)
                    transition: background-color 0.7s
            &Name
                height: 100%
                display: flex
                align-items: center
                gap: 1vw
                width: 80%
                span
                    font-family: 'Montserrat'
                    font-size: 2.5vh
                    overflow: hidden
                    white-space: nowrap
                    text-overflow: ellipsis
        &Img
            height: 100%
        &Info
            height: 100%
            display: flex
            align-items: center
            font-family: 'Montserrat'
            &Image
                width: 50%
            &Options
                width: 50%
                display: flex
                flex-direction: column
                align-items: flex-end
                &Tags
                    display: flex
                    margin-bottom: 1vw
                &Reviews
                    display: flex
                    gap: 5px
                    margin-bottom: 1vw
                    &Stars
                        display: flex
                        gap: 4px
                        margin-right: 1vw
                    &Message
                        font-size: .9em
                        display: flex
                        align-items: center
                        img
                            margin-right: .3vw
                &Country
                    margin-bottom: 2vw
                &Price
                    margin-bottom: 3vw
                &Buttons
                    display: flex
                    column-gap: 2vw
                    &Basket
                        width: 8vw
                        height: 2vw
                        background-color: var(--blue-third)
                        border-radius: 8px
                        outline: none
                        color: white
                        font-family: "Montserrat"
                        border: none
                        &Active
                            width: 8vw
                            height: 2vw
                            background-color: rgba(99, 202, 174, 0.5)
                            border-radius: 8px
                            outline: none
                            color: white
                            font-family: "Montserrat"
                            border: none
                    &Likes
                        width: 8vw
                        height: 2vw
                        background-color: var(--blue-third)
                        border-radius: 8px
                        outline: none
                        color: white
                        font-family: "Montserrat"
                        border: none
                        &Active
                            width: 8vw
                            height: 2vw
                            background-color: rgba(74, 156, 119, 0.5)
                            border-radius: 8px
                            outline: none
                            color: white
                            font-family: "Montserrat"
                            border: none

@keyframes slide-in-fwd-center
    0%
        -webkit-transform: translateZ(-1400px)
        transform: translateZ(-1400px)
        opacity: 0
    100%
        -webkit-transform: translateZ(0)
        transform: translateZ(0)
        opacity: 1
    
