.autentication
	position: relative
	z-index: 8
	min-height: 80vh
	background-color: var(--blue-third)
	margin-bottom: 3vh
	display: flex
	align-items: center
	justify-content: center
	&Form
		display: flex
		flex-direction: column
		justify-content: center
		width: 15vw
		padding: 2vh 2vw
		background-color: #fff
		border-radius: 10px
		&Inputs
			display: flex
			flex-direction: column
			gap: 1vw
			align-items: flex-start
			margin-bottom: 2vw
			outline: none
			&Email
				width: 100%
				outline: none
			&Password
				width: 100%
				outline: none
			&Remember
				display: flex
				gap: 15px
		&Btn
			display: flex
			justify-content: space-around
