.autentication
	position: relative
	z-index: 5
	min-height: 80vh
	background-color: var(--blue-third)
	margin-bottom: 3vh
	display: flex
	align-items: center
	justify-content: center
	&Form
		display: flex
		flex-direction: column
		justify-content: center
		min-width: 15vw
		padding: 2vh 2vw
		background-color: #fff
		border-radius: 10px
		&Inputs
			display: flex
			flex-direction: column
			gap: 1vw
			align-items: flex-start
			margin-bottom: 1vw
			outline: none
			&Email
				position: relative
				input
					padding: 8px 8px
					width: 100%
					outline: none
				&:before
					content: 'Email'
					display: block
					position: absolute
					top: -7.5px
					left: 10%
					height: 15px
					padding: 2px 5px
					background-color: #fff
					color: black
					font-family: 'Montserrat'
					font-size: 11px
			&Password
				position: relative
				&:before
					content: 'Password'
					display: block
					position: absolute
					top: -7.5px
					left: 10%
					height: 15px
					padding: 2px 5px
					background-color: #fff
					color: black
					font-family: 'Montserrat'
					font-size: 11px
				input
					padding: 8px 8px
					width: 100%
					outline: none
			&Remember
				display: flex
				gap: 15px
		&Btn
			display: flex
			justify-content: space-between
			gap: 1vw
			&Login
				padding: 3px 8px
				border: none
				border-radius: 4px
				background-color: var(--blue-second)
				color: white
				font-family: 'Montserrat'
				font-size: 14px
			&Registration
				padding: 3px 8px
				border: none
				border-radius: 4px
				background-color: var(--blue-second)
				color: white
				font-family: 'Montserrat'
				font-size: 14px
