.article
    position: relative
    width: 100%
    min-height: 400px
    background-color: var(--blue-second)
    padding: 3vh 2vw
    z-index: 3
    color: white
    margin-bottom: 1vw
    font-family: Montserrat
    &Header
        font-size: 3vh
        margin-bottom: 1vh
    span
        font-size: 2.5vh
        line-height: 2.8vh
        white-space: pre-wrap
        margin-bottom: 1.5vh