.banners
    position: relative
    display: grid
    width: 100%
    height: 380px
    grid-template-columns: 1040px 500px
    grid-template-rows: repeat(2, 190px)
    margin-bottom: 42px
    &Top
        padding: 50px 0 0 260px
        position: relative
        background-color: var(--blue-second)
        grid-area: 1 / 2 / 2 / 3
    &Bot
        padding: 39px 0 0 260px
        position: relative
        background-color: var(--green-blue)
        grid-area: 2 / 2 / 3 / 3
    .bannerHeader
        font-family: Montserrat
        font-style: normal
        font-weight: bold
        font-size: 24px
        line-height: 36px
        letter-spacing: 0.15em
        color: #FFFFFF
        margin-bottom: 13px
        p
            letter-spacing: 0
    .bannerSubheader
        font-family: Montserrat
        font-style: normal
        font-weight: 500
        font-size: 12px
        line-height: 24px
        letter-spacing: 0.15em
        color: #FFFFFF

@media (max-width: 1600px)
    .banners
        grid-template-columns: 880px 400px
        grid-template-rows: repeat(2, 170px)
        margin-bottom: 25px
        &Top
            padding: 52px 0 0 200px
        &Bot
            padding: 51px 0 0 200px
        .bannerHeader
            font-size: 20px
            line-height: 32px
            margin-bottom: 13px
        .bannerSubheader
            font-size: 10px
            line-height: 22px

@media (max-width: 1350px)
    .banners
        grid-template-columns: 723px 300px
        grid-template-rows: repeat(2, 170px)
        margin-bottom: 20px
        &Top
            padding: 52px 0 0 125px
        &Bot
            padding: 51px 0 0 125px
        .bannerHeader
            font-size: 20px
            line-height: 32px
            margin-bottom: 13px
        .bannerSubheader
            font-size: 10px
            line-height: 22px