.price
    position: relative
    display: flex
    align-items: center
    justify-content: center
    font-family: Montserrat
    font-style: normal
    font-weight: bold
    font-size: 24px
    line-height: 30px
    &::after
        content: attr(data-diuscount)
        position: absolute
        top: 34px
        left: 0
        font-family: Montserrat
        font-style: normal
        font-weight: bold
        font-size: 18px
        line-height: 24px
        text-decoration-line: line-through
        color: var(--red)
    &Black
        position: relative
        display: flex
        align-items: center
        justify-content: center
        font-family: Montserrat
        font-style: normal
        font-weight: bold
        font-size: 24px
        line-height: 30px
        margin-bottom: 25px
        color: black
        &Once
            position: relative
            display: flex
            align-items: center
            justify-content: center
            font-family: Montserrat
            font-style: normal
            font-weight: bold
            font-size: 24px
            line-height: 30px
            color: black
    &White
        position: relative
        display: flex
        align-items: center
        justify-content: center
        font-family: Montserrat
        font-style: normal
        font-weight: bold
        font-size: 24px
        line-height: 30px
        margin-bottom: 25px
        color: white
        &Once
            position: relative
            display: flex
            align-items: center
            justify-content: center
            font-family: Montserrat
            font-style: normal
            font-weight: bold
            font-size: 24px
            line-height: 30px
            color: white

@media ( max-width: 520px )
    .price
        font-size: 18px
        line-height: 24px
        &::after
            font-size: 14px
            line-height: 20px
            top: 24px
        &Black
            font-size: 18px
            line-height: 24px
            margin-bottom: 18px
            &Once
                font-size: 18px
                line-height: 24px
                margin-bottom: 0px
        &White
            font-size: 18px
            line-height: 24px
            &Once
                font-size: 18px
                line-height: 24px
                margin-bottom: 5px
